
a {
  color: #161616;
  text-decoration: none;
  padding: 15px
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(0, 153, 255);
  
}

nav > a:first-of-type {
  margin-left: -15px;
}

.my-link {
  color:  rgb(0, 153, 255);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
display: none;
}

body {
-ms-overflow-style: none;
scrollbar-width: none;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px
}

.van-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns by default */
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

@media (max-width: 1200px) {
  .van-list {
    grid-template-columns: repeat(3, 1fr); /* Three columns for medium screens */
  }
}

@media (max-width: 768px) {
  .van-list {
    grid-template-columns: repeat(2, 1fr); /* Two columns for small screens */
  }
}

@media (max-width: 480px) {
  .van-list {
    grid-template-columns: 1fr; /* One column for mobile screens */
  }
}


.van-tile {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 300px; /* Smaller width */
}

.van-tile a {
  color: #161616;
  text-decoration: none;
  width: 100px; /* Adjust the width to make the tiles smaller */
    margin: 10px; /* Add some margin for spacing */
    text-align: center; /* Center the content */    
}


.van-tile img {
  max-width: 50%; /* Ensure the image fits within the tile */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}